.movieinfo__container{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid rgb(109, 108, 108);
    display: flex;
    margin-bottom: 20px;
}

.movieinfo__container img{
    height: 340px;
    width: 230px;
    margin: 15px;
    box-shadow: 0px 0px 15px rgb(236, 231, 231);
}

.movieinfo__title{
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.movieinfo__info{
    color: rgb(197, 191, 191);
    margin: 40px 0px 15px 0px;
    width: 100%;
    padding: 5px;
    display: block;
    font-size: 30px;
}
.movie__description{
    margin-top: 10px;
    margin-left: 3px;
}

.description__info {
    font-size: 15px;
    padding: 3px;
    font-weight: bold;
} & span{
    opacity: 50%;
    font-size: 13px;
    font-weight: 100;
}

